<div class="background">
  <div class="container">
    <h2 class="title">Are you an editor?</h2>
    <div class="inputs">
      <label for="password">Enter the password</label>
      <input type="password" id="password" placeholder="Password" #passwordField>
      <p class="wrong-password" *ngIf="passwordWrong">Wrong Password</p>
    </div>
    <div class="buttons">
      <button class="btn btn-secondary" (click)="onEnterAsEditor(passwordField.value)">Enter as Editor</button>
      <button class="btn btn-default" (click)="onEnterAsVisitor()">Enter as Visitor</button>
    </div>
  </div>
</div>