.background {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #33333366;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.title {
  text-align: center;
}

label {
  display: block;
}

input {
  font-size: 1rem;
  padding: 0.1rem 0.2rem;
  border: 1px #000 solid;
  border-radius: 0.3rem;
  width: 100%;
}

input:focus {
  border: 1px hsl(257, 70%, 61%) solid;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-content: center;
}

.wrong-password {
  color: #f00;
}
