.selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selection-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.score-change-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.player-select,
.game-select {
  display: flex;
  flex-direction: column;
}

select {
  color: #000;
  cursor: pointer;
  background-color: #f4f4f4;
  border: hsl(257, 70%, 61%) 2px solid;
  border-radius: 0.2em;
  padding-inline: 0.3em;
  padding-block: 0.1rem;
  font-size: 1.1rem;
}

.player-score-change {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
