<div class="container" *ngIf="listsVisible">
  <div class="nav">
    <ul>
      <li (click)="navIdSelected = 0" [ngClass]="{selected: navIdSelected === 0}">Games</li>
      <li (click)="navIdSelected = 1" [ngClass]="{selected: navIdSelected === 1}">Players</li>
    </ul>
  </div>
  <div class="content">
    <ul class="games-list" *ngIf="navIdSelected === 0">
      <div *ngIf="gamesList.length > 0; else noGamesToShow">
        <li class="li-flex" *ngFor="let game of gamesList; let index = index">
          <span>{{ game }}</span>
          <button class="btn btn-danger" (click)="onDeleteGame(index)" *ngIf="isEditor">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
          <button class="btn btn-default" [disabled]="!isEditor" *ngIf="!isEditor">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
        </li>
      </div>
      <ng-template #noGamesToShow>
        <span class="no-games">There are no games to show</span>
      </ng-template>
      <button class="btn btn-secondary" (click)="onAddGame()" *ngIf="isEditor">Add</button>
      <button class="btn btn-default" [disabled]="!isEditor" *ngIf="!isEditor">Add</button>
    </ul>
    <ul class="players-list" *ngIf="navIdSelected === 1">
      <div *ngIf="playersList.length > 0; else noPlayersToShow">
        <li class="li-flex" *ngFor="let player of playersList; let index = index">
          <span>{{ player.playerName }}</span>
          <button class="btn btn-danger" (click)="onDeletePlayer(index)" *ngIf="isEditor">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
          <button class="btn btn-default" [disabled]="!isEditor" *ngIf="!isEditor">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
        </li>
      </div>
      <ng-template #noPlayersToShow>
        <span class="no-players">There are no players to show</span>
      </ng-template>
      <button class="btn btn-secondary" (click)="onAddPlayer()" *ngIf="isEditor">Add</button>
      <button class="btn btn-default" [disabled]="!isEditor" *ngIf="!isEditor">Add</button>
    </ul>
  </div>
</div>

<app-add-game *ngIf="addGameVisible" (gameAddEnded)="onGameAddEnded($event)"></app-add-game>
<app-add-player *ngIf="addPlayerVisible" (playerAddEnded)="onPlayerAddEnded($event)"></app-add-player>